@media (min-width: 768px) {
  .container {
    width: 80%;
  }

  .flex-container-nav {
    visibility: visible;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    height: auto;
  }

  .nav_color {
    display: flex;
    margin: 10px 20pc 10px 30px;
  }

  .img {
    margin-top: 0;
    text-align: center;
  }
}

/*p*/
